<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google SignIn</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center text-primary">
            <h1>
                <span class="fa fa-lock"></span>
                Social Authentication
            </h1>
            <p>Login or Register with:</p>
            <a href="/auth/google" class="btn btn-danger">
                <span class="fa fa-google"></span>
                SignIn with Google
            </a>
        </div>
    </div>
</body>
</html>