<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Signin</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>

        body {
            padding-top: 70px;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-primary text-center">
                <span class="fa fa-user"></span>
                Profile Information
            </h1>
            <div class="row">
                <div class="col-sm-6">
                    <div class="well">
                        <p>
                            <strong>ID</strong>: <%= user.id %><br />
                            <strong>Email</strong>: <%= user.emails[0].value %><br />
                            <strong>Name</strong>: <%= user.displayName %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>